In [1]:
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
import matplotlib.pyplot as plt

In [2]:
un_migrant = pd.read_csv("Resources/UN_MigrantStockByOriginAndDestination_2017.csv", encoding = "ISO-8859-1")

countries_df = pd.read_csv("Resources/Countries_centroid.csv", encoding = "ISO-8859-1")

In [3]:
un_migrant

,Year,Sort order,"Major area, region, country or area of destination",Notes,Code,Unnamed: 5,Total,Other North,Other South,Afghanistan,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,1990,1990001,WORLD,NaN,900,NaN,"152,542,373","2,144,536","6,342,531","6,724,681",...,"237,258","1,429,956","5,060","185,888","1,235,348","6,484","168,239","455,442","83,210","176,697"
1,1990,1990002,More developed regions,b,901,NaN,"82,391,619","1,094,823","3,412,144","119,338",...,"56,562","1,078,599","1,017","114,635","1,083,015",884,333,"11,407","25,922","40,832"
2,1990,1990003,Less developed regions,c,902,NaN,"70,150,754","1,049,713","2,930,387","6,605,343",...,"180,696","351,357","4,043","71,253","152,333","5,600","167,906","444,035","57,288","135,865"
3,1990,1990004,Least developed countries,d,941,NaN,"11,073,226","250,575","533,018",..,...,286,"2,027",9,"2,510","71,579",..,..,357,"25,400","47,578"
4,1990,1990005,"Less developed regions, excluding least develo...",NaN,934,NaN,"59,077,528","799,138","2,397,369","6,605,343",...,"180,410","349,330","4,034","68,743","80,754","5,600","167,906","443,678","31,888","88,287"
5,1990,1990006,High-income countries,e,1503,NaN,"75,239,010","1,129,128","3,750,041","269,865",...,"61,771","65,706","4,358","121,817","1,043,808","6,472",223,"429,974","25,598","40,644"
6,1990,1990007,Middle-income countries,e,1517,NaN,"68,475,181","863,674","2,156,273","6,454,816",...,"175,201","1,362,223",550,"61,107","190,824",12,"168,016","25,400","14,442","123,177"
7,1990,1990008,Upper-middle-income countries,e,1502,NaN,"33,412,332","217,939","784,944","3,152,582",...,"174,515","1,177,624",387,"60,075","82,891",12,"168,016","17,333","13,174","88,436"
8,1990,1990009,Lower-middle-income countries,e,1501,NaN,"35,062,849","645,735","1,371,329","3,302,234",...,686,"184,599",163,"1,032","107,933",..,..,"8,067","1,268","34,741"
9,1990,1990010,Low-income countries,e,1500,NaN,"8,533,974","141,127","419,508",..,...,286,"2,027",..,"2,510",716,..,..,68,"43,170","12,876"
10,1990,1990011,Sub-Saharan Africa,f,947,NaN,"14,690,319","251,536","828,343",123,...,111,..,..,296,156,..,..,440,"56,176","135,722"
11,1990,1990012,AFRICA,NaN,903,NaN,"15,690,623","263,172","858,411","1,037",...,111,328,..,322,156,..,"167,905","17,828","56,202","135,760"
12,1990,1990013,Eastern Africa,NaN,910,NaN,"5,964,031","115,128","303,496",..,...,..,..,..,..,..,..,..,357,"43,170","47,501"
13,1990,1990014,Burundi,NaN,108,B R,"333,110","8,943","50,676",..,...,..,..,..,..,..,..,..,..,..,..
14,1990,1990015,Comoros,NaN,174,B,"14,079",672,847,..,...,..,..,..,..,..,..,..,..,..,..
15,1990,1990016,Djibouti,NaN,262,B R,"122,221","1,827","5,484",..,...,..,..,..,..,..,..,..,289,..,..
16,1990,1990017,Eritrea,NaN,232,I,"11,848",345,737,..,...,..,..,..,..,..,..,..,..,91,82
17,1990,1990018,Ethiopia,NaN,231,B R,"1,155,390","7,358","22,075",..,...,..,..,..,..,..,..,..,68,..,..
18,1990,1990019,Kenya,NaN,404,B R,"297,292","35,132","65,430",..,...,..,..,..,..,..,..,..,..,..,..
19,1990,1990020,Madagascar,NaN,450,C,"23,917","3,563","2,851",..,...,..,..,..,..,..,..,..,..,..,..
20,1990,1990021,Malawi,NaN,454,B R,"1,127,724","11,744","19,158",..,...,..,..,..,..,..,..,..,..,"5,637","3,851"
21,1990,1990022,Mauritius,1,480,C,"3,613",75,292,..,...,..,..,..,..,..,..,..,..,..,..
22,1990,1990023,Mayotte,NaN,175,B,"15,229","1,142","1,354",..,...,..,..,..,..,..,..,..,..,..,..
23,1990,1990024,Mozambique,NaN,508,B R,"122,332","16,965","46,404",..,...,..,..,..,..,..,..,..,..,"1,288","8,455"
24,1990,1990025,Réunion,NaN,638,B,"57,210","6,330","6,776",..,...,..,..,..,..,..,..,..,..,..,..
25,1990,1990026,Rwanda,NaN,646,B R,"159,869",954,"19,265",..,...,..,..,..,..,..,..,..,..,..,..
26,1990,1990027,Seychelles,NaN,690,B,"3,721",281,493,..,...,..,..,..,..,..,..,..,..,..,..
27,1990,1990028,Somalia,NaN,706,I R,"478,294","6,098","12,196",..,...,..,..,..,..,..,..,..,..,..,..
28,1990,1990029,South Sudan,NaN,728,B R,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
29,1990,1990030,Uganda,NaN,800,B R,"558,307",359,"21,368",..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,2017,2017241,Saint Pierre and Miquelon,NaN,666,B,990,..,21,..,...,..,..,..,..,..,..,..,..,..,..
1861,2017,2017242,United States of America,NaN,840,B,"49,776,970","11,391","2,353,166","72,909",...,"51,229","60,216",..,"232,448","1,409,063",..,..,"44,905","24,455","54,567"
1862,2017,2017243,OCEANIA,NaN,909,NaN,"8,410,933","18,127","79,121","41,904",...,"11,679","1,703","7,541","5,132","246,263","8,043",..,707,"8,975","49,364"
1863,2017,2017244,Australia/New Zealand,NaN,927,NaN,"8,102,983","10,388","59,265","41,904",...,"11,679","1,703","1,648","5,132","244,870",..,..,707,"8,975","49,364"
1864,2017,2017245,Australia,24,36,B,"7,035,560",376,"27,134","39,297",...,"11,679","1,703","1,648","5,132","238,307",..,..,707,"7,465","40,724"
1865,2017,2017246,New Zealand,NaN,554,B,"1,067,423","10,012","32,131","2,607",...,..,..,..,..,"6,563",..,..,..,"1,510","8,640"
1866,2017,2017247,Melanesia,NaN,928,NaN,"118,078","2,719","7,960",..,...,..,..,"5,423",..,819,"8,010",..,..,..,..
1867,2017,2017248,Fiji,NaN,242,B,"13,911",214,"1,589",..,...,..,..,186,..,..,..,..,..,..,..
1868,2017,2017249,New Caledonia,NaN,540,B,"66,001","1,996","4,199",..,...,..,..,"5,069",..,819,"8,010",..,..,..,..
1869,2017,2017250,Papua New Guinea,NaN,598,C R,"32,389",197,978,..,...,..,..,104,..,..,..,..,..,..,..
1870,2017,2017251,Solomon Islands,NaN,90,B,"2,532",61,515,..,...,..,..,64,..,..,..,..,..,..,..
1871,2017,2017252,Vanuatu,NaN,548,B,"3,245",251,679,..,...,..,..,..,..,..,..,..,..,..,..
1872,2017,2017253,Micronesia,NaN,954,NaN,"117,601","1,908","5,483",..,...,..,..,..,..,363,..,..,..,..,..
1873,2017,2017254,Guam,NaN,316,B,"78,027",840,"1,717",..,...,..,..,..,..,363,..,..,..,..,..
1874,2017,2017255,Kiribati,NaN,296,B,"3,022",295,201,..,...,..,..,..,..,..,..,..,..,..,..
1875,2017,2017256,Marshall Islands,NaN,584,B,"3,292",82,282,..,...,..,..,..,..,..,..,..,..,..,..
1876,2017,2017257,Micronesia (Fed. States of),NaN,583,B,"2,785",406,"1,415",..,...,..,..,..,..,..,..,..,..,..,..
1877,2017,2017258,Nauru,NaN,520,C,"3,710",42,"1,025",..,...,..,..,..,..,..,..,..,..,..,..
1878,2017,2017259,Northern Mariana Islands,NaN,580,B,"21,777",194,750,..,...,..,..,..,..,..,..,..,..,..,..
1879,2017,2017260,Palau,NaN,585,B,"4,988",49,93,..,...,..,..,..,..,..,..,..,..,..,..
1880,2017,2017261,Polynesia,25,957,NaN,"72,271","3,112","6,413",..,...,..,..,470,..,211,33,..,..,..,..
1881,2017,2017262,American Samoa,NaN,16,B,"23,561",140,434,..,...,..,..,..,..,211,..,..,..,..,..
1882,2017,2017263,Cook Islands,NaN,184,B,"4,213",258,497,..,...,..,..,..,..,..,..,..,..,..,..
1883,2017,2017264,French Polynesia,NaN,258,B,"30,687",568,"3,373",..,...,..,..,214,..,..,33,..,..,..,..
1884,2017,2017265,Niue,NaN,570,B,553,50,40,..,...,..,..,..,..,..,..,..,..,..,..
1885,2017,2017266,Samoa,NaN,882,B,"4,879",109,336,..,...,..,..,16,..,..,..,..,..,..,..
1886,2017,2017267,Tokelau,NaN,772,B,504,3,37,..,...,..,..,..,..,..,..,..,..,..,..
1887,2017,2017268,Tonga,NaN,776,B,"4,952","1,918","1,647",..,...,..,..,..,..,..,..,..,..,..,..
1888,2017,2017269,Tuvalu,NaN,798,C,143,14,18,..,...,..,..,..,..,..,..,..,..,..,..
1889,2017,2017270,Wallis and Futuna Islands,NaN,876,B,"2,779",52,31,..,...,..,..,240,..,..,..,..,..,..,..

In [4]:
un_migrant.columns.tolist()

['Year',
 'Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Code',
 'Unnamed: 5',
 'Total',
 'Other North',
 'Other South',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czechia',
 "Dem. People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands (Malvinas)',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia (Fed. States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Réunion',
 'Romania',
 'Russian',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'TFYR Macedonia',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [5]:
un_migrant = un_migrant.drop(['Sort\norder','Notes','Code','Unnamed: 5','Total','Other North','Other South'], axis=1)

In [6]:
un_migrant.rename(columns={'Major area, region, country or area of destination': "Country of Origin"}, inplace=True)

In [7]:
un_migrant.set_index(["Year", "Country of Origin"])

                                                        Afghanistan  Albania  \
Year Country of Origin
1990 WORLD                                                6,724,681  179,490
     More developed regions                                 119,338  177,192
     Less developed regions                               6,605,343    2,298
     Least developed countries                                   ..       ..
     Less developed regions, excluding least develop...   6,605,343    2,298
     High-income countries                                  269,865  130,506
     Middle-income countries                              6,454,816   48,984
     Upper-middle-income countries                        3,152,582   48,446
     Lower-middle-income countries                        3,302,234      538
     Low-income countries                                        ..       ..
     Sub-Saharan Africa                                         123       78
     AFRICA                                                   1,037      504
     Eastern Africa                                              ..       ..
     Burundi                                                     ..       ..
     Comoros                                                     ..       ..
     Djibouti                                                    ..       ..
     Eritrea                                                     ..       ..
     Ethiopia                                                    ..       ..
     Kenya                                                       ..       ..
     Madagascar                                                  ..       ..
     Malawi                                                      ..       ..
     Mauritius                                                   ..       ..
     Mayotte                                                     ..       ..
     Mozambique                                                  ..       ..
     Réunion                                                     ..       ..
     Rwanda                                                      ..       ..
     Seychelles                                                  ..       ..
     Somalia                                                     ..       ..
     South Sudan                                                 ..       ..
     Uganda                                                      ..       ..
...                                                             ...      ...
2017 Saint Pierre and Miquelon                                   ..       ..
     United States of America                                72,909   90,381
     OCEANIA                                                 41,904    3,495
     Australia/New Zealand                                   41,904    3,495
     Australia                                               39,297    3,495
     New Zealand                                              2,607       ..
     Melanesia                                                   ..       ..
     Fiji                                                        ..       ..
     New Caledonia                                               ..       ..
     Papua New Guinea                                            ..       ..
     Solomon Islands                                             ..       ..
     Vanuatu                                                     ..       ..
     Micronesia                                                  ..       ..
     Guam                                                        ..       ..
     Kiribati                                                    ..       ..
     Marshall Islands                                            ..       ..
     Micronesia (Fed. States of)                                 ..       ..
     Nauru                                                       ..       ..
     Northern Mariana Islands                                    ..       ..
     Palau                                                       ..       ..
     Polynesia                                                   ..       ..
     American Samoa                                              ..       ..
     Cook Islands                                                ..       ..
     French Polynesia                                            ..       ..
     Niue                                                        ..       ..
     Samoa                                                       ..       ..
     Tokelau                                                     ..       ..
     Tonga                                                       ..       ..
     Tuvalu                                                      ..       ..
     Wallis and Futuna Islands                                   ..       ..

                                                         Algeria  \
Year Country of Origin
1990 WORLD                                               906,030
     More developed regions                              851,351
     Less developed regions                               54,679
     Least developed countries                             5,587
     Less developed regions, excluding least develop...   49,092
     High-income countries                               870,696
     Middle-income countries                              30,942
     Upper-middle-income countries                         4,728
     Lower-middle-income countries                        26,214
     Low-income countries                                  4,137
     Sub-Saharan Africa                                    6,692
     AFRICA                                               31,772
     Eastern Africa                                           ..
     Burundi                                                  ..
     Comoros                                                  ..
     Djibouti                                                 ..
     Eritrea                                                  ..
     Ethiopia                                                 ..
     Kenya                                                    ..
     Madagascar                                               ..
     Malawi                                                   ..
     Mauritius                                                ..
     Mayotte                                                  ..
     Mozambique                                               ..
     Réunion                                                  ..
     Rwanda                                                   ..
     Seychelles                                               ..
     Somalia                                                  ..
     South Sudan                                              ..
     Uganda                                                   ..
...                                                          ...
2017 Saint Pierre and Miquelon                                ..
     United States of America                             19,316
     OCEANIA                                               3,154
     Australia/New Zealand                                 1,636
     Australia                                             1,636
     New Zealand                                              ..
     Melanesia                                               823
     Fiji                                                     ..
     New Caledonia                                           823
     Papua New Guinea                                         ..
     Solomon Islands                                          ..
     Vanuatu                                                  ..
     Micronesia                                               ..
     Guam                                                     ..
     Kiribati                                                 ..
     Marshall Islands                                         ..
     Micronesia (Fed. States of)                              ..
     Nauru                                                    ..
     Northern Mariana Islands                                 ..
     Palau                                                    ..
     Polynesia                                               695
     American Samoa                                           ..
     Cook Islands                                             ..
     French Polynesia                                        695
     Niue                                                     ..
     Samoa                                                    ..
     Tokelau                                                  ..
     Tonga                                                    ..
     Tuvalu                                                   ..
     Wallis and Futuna Islands                                ..

                                                        American Samoa  \
Year Country of Origin
1990 WORLD                                                       2,041
     More developed regions                                      1,027
     Less developed regions                                      1,014
     Least developed countries                                      ..
     Less developed regions, excluding least develop...          1,014
     High-income countries                                          68
     Middle-income countries                                     1,973
     Upper-middle-income countries                               1,954
     Lower-middle-income countries                                  19
     Low-income countries                                           ..
     Sub-Saharan Africa                                             ..
     AFRICA                                                         ..
     Eastern Africa                                                 ..
     Burundi                                                        ..
     Comoros                                                        ..
     Djibouti                                                       ..
     Eritrea                                                        ..
     Ethiopia                                                       ..
     Kenya                                                          ..
     Madagascar                                                     ..
     Malawi                                                         ..
     Mauritius                                                      ..
     Mayotte                                                        ..
     Mozambique                                                     ..
     Réunion                                                        ..
     Rwanda                                                         ..
     Seychelles                                                     ..
     Somalia                                                        ..
     South Sudan                                                    ..
     Uganda                                                         ..
...                                                                ...
2017 Saint Pierre and Miquelon                                      ..
     United States of America                                       ..
     OCEANIA                                                     1,992
     Australia/New Zealand                                         398
     Australia                                                     398
     New Zealand                                                    ..
     Melanesia                                                      ..
     Fiji                                                           ..
     New Caledonia                                                  ..
     Papua New Guinea                                               ..
     Solomon Islands                                                ..
     Vanuatu                                                        ..
     Micronesia                                                     23
     Guam                                                           ..
     Kiribati                                                       ..
     Marshall Islands                                               ..
     Micronesia (Fed. States of)                                    23
     Nauru                                                          ..
     Northern Mariana Islands                                       ..
     Palau                                                          ..
     Polynesia                                                   1,571
     American Samoa                                                 ..
     Cook Islands                                                   ..
     French Polynesia                                               ..
     Niue                                                           ..
     Samoa                                                       1,571
     Tokelau                                                        ..
     Tonga                                                          ..
     Tuvalu                                                         ..
     Wallis and Futuna Islands                                      ..

                                                        Andorra   Angola  \
Year Country of Origin
1990 WORLD                                                3,792  809,942
     More developed regions                               3,737  166,746
     Less developed regions                                  55  643,196
     Least developed countries                               ..  593,741
     Less developed regions, excluding least develop...      55   49,455
     High-income countries                                3,747  166,230
     Middle-income countries                                 45  174,216
     Upper-middle-income countries                           43   37,435
     Lower-middle-income countries                            2  136,781
     Low-income countries                                    ..  469,496
     Sub-Saharan Africa                                      ..  637,190
     AFRICA                                                  ..  637,213
     Eastern Africa                                          ..  124,741
     Burundi                                                 ..       ..
     Comoros                                                 ..       ..
     Djibouti                                                ..       ..
     Eritrea                                                 ..      247
     Ethiopia                                                ..       ..
     Kenya                                                   ..       ..
     Madagascar                                              ..       ..
     Malawi                                                  ..       ..
     Mauritius                                               ..       ..
     Mayotte                                                 ..       ..
     Mozambique                                              ..       ..
     Réunion                                                 ..       ..
     Rwanda                                                  ..       ..
     Seychelles                                              ..       ..
     Somalia                                                 ..       ..
     South Sudan                                             ..       ..
     Uganda                                                  ..       ..
...                                                         ...      ...
2017 Saint Pierre and Miquelon                               ..       ..
     United States of America                                ..   13,841
     OCEANIA                                                 ..      608
     Australia/New Zealand                                   ..      608
     Australia                                               ..      608
     New Zealand                                             ..       ..
     Melanesia                                               ..       ..
     Fiji                                                    ..       ..
     New Caledonia                                           ..       ..
     Papua New Guinea                                        ..       ..
     Solomon Islands                                         ..       ..
     Vanuatu                                                 ..       ..
     Micronesia                                              ..       ..
     Guam                                                    ..       ..
     Kiribati                                                ..       ..
     Marshall Islands                                        ..       ..
     Micronesia (Fed. States of)                             ..       ..
     Nauru                                                   ..       ..
     Northern Mariana Islands                                ..       ..
     Palau                                                   ..       ..
     Polynesia                                               ..       ..
     American Samoa                                          ..       ..
     Cook Islands                                            ..       ..
     French Polynesia                                        ..       ..
     Niue                                                    ..       ..
     Samoa                                                   ..       ..
     Tokelau                                                 ..       ..
     Tonga                                                   ..       ..
     Tuvalu                                                  ..       ..
     Wallis and Futuna Islands                               ..       ..

                                                        Anguilla  \
Year Country of Origin
1990 WORLD                                                 2,047
     More developed regions                                  540
     Less developed regions                                1,507
     Least developed countries                                ..
     Less developed regions, excluding least develop...    1,507
     High-income countries                                 1,364
     Middle-income countries                                 515
     Upper-middle-income countries                           515
     Lower-middle-income countries                            ..
     Low-income countries                                     ..
     Sub-Saharan Africa                                       ..
     AFRICA                                                   ..
     Eastern Africa                                           ..
     Burundi                                                  ..
     Comoros                                                  ..
     Djibouti                                                 ..
     Eritrea                                                  ..
     Ethiopia                                                 ..
     Kenya                                                    ..
     Madagascar                                               ..
     Malawi                                                   ..
     Mauritius                                                ..
     Mayotte                                                  ..
     Mozambique                                               ..
     Réunion                                                  ..
     Rwanda                                                   ..
     Seychelles                                               ..
     Somalia                                                  ..
     South Sudan                                              ..
     Uganda                                                   ..
...                                                          ...

In [8]:
melt_un_migrant = pd.melt(un_migrant, id_vars=["Year", "Country of Origin"], 
                  var_name="Destination", value_name="numb_migrants")

In [9]:
melt_un_migrant.head()

,Year,Country of Origin,Destination,numb_migrants
0,1990,WORLD,Afghanistan,"6,724,681"
1,1990,More developed regions,Afghanistan,"119,338"
2,1990,Less developed regions,Afghanistan,"6,605,343"
3,1990,Least developed countries,Afghanistan,..
4,1990,"Less developed regions, excluding least develo...",Afghanistan,"6,605,343"

In [10]:
melt_un_migrant[melt_un_migrant=='..'] = np.nan
melt_un_migrant = melt_un_migrant.dropna()

In [11]:
melt_un_migrant['numb_migrants'] = pd.to_numeric(melt_un_migrant['numb_migrants'].str.replace(',',''))

In [12]:
countries_df = countries_df.rename(columns={"name": "Country"})
countries_df.head()

                Country   latitude  longitude
0               Andorra  42.546245   1.601554
1  United Arab Emirates  23.424076  53.847818
2           Afghanistan  33.939110  67.709953
3   Antigua and Barbuda  17.060816 -61.796428
4              Anguilla  18.220554 -63.068615

In [13]:
countries_list = list(countries_df["Country"])
countries_list

['Andorra',
 'United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Anguilla',
 'Albania',
 'Armenia',
 'Netherlands Antilles',
 'Angola',
 'Antarctica',
 'Argentina',
 'American Samoa',
 'Austria',
 'Australia',
 'Aruba',
 'Azerbaijan',
 'Bosnia and Herzegovina',
 'Barbados',
 'Bangladesh',
 'Belgium',
 'Burkina Faso',
 'Bulgaria',
 'Bahrain',
 'Burundi',
 'Benin',
 'Bermuda',
 'Brunei',
 'Bolivia',
 'Brazil',
 'Bahamas',
 'Bhutan',
 'Bouvet Island',
 'Botswana',
 'Belarus',
 'Belize',
 'Canada',
 'Cocos [Keeling] Islands',
 'Congo [DRC]',
 'Central African Republic',
 'Congo [Republic]',
 'Switzerland',
 "Côte d'Ivoire",
 'Cook Islands',
 'Chile',
 'Cameroon',
 'China',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Cape Verde',
 'Christmas Island',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Denmark',
 'Dominica',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Estonia',
 'Egypt',
 'Western Sahara',
 'Eritrea',
 'Spain',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands [Islas Malvinas]',
 'Micronesia',
 'Faroe Islands',
 'France',
 'Gabon',
 'United Kingdom',
 'Grenada',
 'Georgia',
 'French Guiana',
 'Guernsey',
 'Ghana',
 'Gibraltar',
 'Greenland',
 'Gambia',
 'Guinea',
 'Guadeloupe',
 'Equatorial Guinea',
 'Greece',
 'South Georgia and the South Sandwich Islands',
 'Guatemala',
 'Guam',
 'Guinea-Bissau',
 'Guyana',
 'Gaza Strip',
 'Hong Kong',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Israel',
 'Isle of Man',
 'India',
 'British Indian Ocean Territory',
 'Iraq',
 'Iran',
 'Iceland',
 'Italy',
 'Jersey',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Comoros',
 'Saint Kitts and Nevis',
 'North Korea',
 'South Korea',
 'Kuwait',
 'Cayman Islands',
 'Kazakhstan',
 'Laos',
 'Lebanon',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Liberia',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Libya',
 'Morocco',
 'Monaco',
 'Moldova',
 'Montenegro',
 'Madagascar',
 'Marshall Islands',
 'Macedonia [FYROM]',
 'Mali',
 'Myanmar [Burma]',
 'Mongolia',
 'Macau',
 'Northern Mariana Islands',
 'Martinique',
 'Mauritania',
 'Montserrat',
 'Malta',
 'Mauritius',
 'Maldives',
 'Malawi',
 'Mexico',
 'Malaysia',
 'Mozambique',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Norfolk Island',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'Niue',
 'New Zealand',
 'Oman',
 'Panama',
 'Peru',
 'French Polynesia',
 'Papua New Guinea',
 'Philippines',
 'Pakistan',
 'Poland',
 'Saint Pierre and Miquelon',
 'Pitcairn Islands',
 'Puerto Rico',
 'Palestinian Territories',
 'Portugal',
 'Palau',
 'Paraguay',
 'Qatar',
 'Réunion',
 'Romania',
 'Serbia',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Solomon Islands',
 'Seychelles',
 'Sudan',
 'Sweden',
 'Singapore',
 'Saint Helena',
 'Slovenia',
 'Svalbard and Jan Mayen',
 'Slovakia',
 'Sierra Leone',
 'San Marino',
 'Senegal',
 'Somalia',
 'Suriname',
 'São Tomé and Príncipe',
 'El Salvador',
 'Syria',
 'Swaziland',
 'Turks and Caicos Islands',
 'Chad',
 'French Southern Territories',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Tokelau',
 'Timor-Leste',
 'Turkmenistan',
 'Tunisia',
 'Tonga',
 'Turkey',
 'Trinidad and Tobago',
 'Tuvalu',
 'Taiwan',
 'Tanzania',
 'Ukraine',
 'Uganda',
 'U.S. Minor Outlying Islands',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vatican City',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'British Virgin Islands',
 'U.S. Virgin Islands',
 'Vietnam',
 'Vanuatu',
 'Wallis and Futuna',
 'Samoa',
 'Kosovo',
 'Yemen',
 'Mayotte',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [14]:
melt_un_migrant

listOfAreas = countries_list
listOfAreas

['Andorra',
 'United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Anguilla',
 'Albania',
 'Armenia',
 'Netherlands Antilles',
 'Angola',
 'Antarctica',
 'Argentina',
 'American Samoa',
 'Austria',
 'Australia',
 'Aruba',
 'Azerbaijan',
 'Bosnia and Herzegovina',
 'Barbados',
 'Bangladesh',
 'Belgium',
 'Burkina Faso',
 'Bulgaria',
 'Bahrain',
 'Burundi',
 'Benin',
 'Bermuda',
 'Brunei',
 'Bolivia',
 'Brazil',
 'Bahamas',
 'Bhutan',
 'Bouvet Island',
 'Botswana',
 'Belarus',
 'Belize',
 'Canada',
 'Cocos [Keeling] Islands',
 'Congo [DRC]',
 'Central African Republic',
 'Congo [Republic]',
 'Switzerland',
 "Côte d'Ivoire",
 'Cook Islands',
 'Chile',
 'Cameroon',
 'China',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Cape Verde',
 'Christmas Island',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Denmark',
 'Dominica',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Estonia',
 'Egypt',
 'Western Sahara',
 'Eritrea',
 'Spain',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands [Islas Malvinas]',
 'Micronesia',
 'Faroe Islands',
 'France',
 'Gabon',
 'United Kingdom',
 'Grenada',
 'Georgia',
 'French Guiana',
 'Guernsey',
 'Ghana',
 'Gibraltar',
 'Greenland',
 'Gambia',
 'Guinea',
 'Guadeloupe',
 'Equatorial Guinea',
 'Greece',
 'South Georgia and the South Sandwich Islands',
 'Guatemala',
 'Guam',
 'Guinea-Bissau',
 'Guyana',
 'Gaza Strip',
 'Hong Kong',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Israel',
 'Isle of Man',
 'India',
 'British Indian Ocean Territory',
 'Iraq',
 'Iran',
 'Iceland',
 'Italy',
 'Jersey',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Comoros',
 'Saint Kitts and Nevis',
 'North Korea',
 'South Korea',
 'Kuwait',
 'Cayman Islands',
 'Kazakhstan',
 'Laos',
 'Lebanon',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Liberia',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Libya',
 'Morocco',
 'Monaco',
 'Moldova',
 'Montenegro',
 'Madagascar',
 'Marshall Islands',
 'Macedonia [FYROM]',
 'Mali',
 'Myanmar [Burma]',
 'Mongolia',
 'Macau',
 'Northern Mariana Islands',
 'Martinique',
 'Mauritania',
 'Montserrat',
 'Malta',
 'Mauritius',
 'Maldives',
 'Malawi',
 'Mexico',
 'Malaysia',
 'Mozambique',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Norfolk Island',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'Niue',
 'New Zealand',
 'Oman',
 'Panama',
 'Peru',
 'French Polynesia',
 'Papua New Guinea',
 'Philippines',
 'Pakistan',
 'Poland',
 'Saint Pierre and Miquelon',
 'Pitcairn Islands',
 'Puerto Rico',
 'Palestinian Territories',
 'Portugal',
 'Palau',
 'Paraguay',
 'Qatar',
 'Réunion',
 'Romania',
 'Serbia',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Solomon Islands',
 'Seychelles',
 'Sudan',
 'Sweden',
 'Singapore',
 'Saint Helena',
 'Slovenia',
 'Svalbard and Jan Mayen',
 'Slovakia',
 'Sierra Leone',
 'San Marino',
 'Senegal',
 'Somalia',
 'Suriname',
 'São Tomé and Príncipe',
 'El Salvador',
 'Syria',
 'Swaziland',
 'Turks and Caicos Islands',
 'Chad',
 'French Southern Territories',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Tokelau',
 'Timor-Leste',
 'Turkmenistan',
 'Tunisia',
 'Tonga',
 'Turkey',
 'Trinidad and Tobago',
 'Tuvalu',
 'Taiwan',
 'Tanzania',
 'Ukraine',
 'Uganda',
 'U.S. Minor Outlying Islands',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vatican City',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'British Virgin Islands',
 'U.S. Virgin Islands',
 'Vietnam',
 'Vanuatu',
 'Wallis and Futuna',
 'Samoa',
 'Kosovo',
 'Yemen',
 'Mayotte',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [15]:
melt_un_migrant['Country of Origin'].isin(listOfAreas)

migrant_df = melt_un_migrant[melt_un_migrant['Country of Origin'].isin(listOfAreas)]
#First, we have list of areas
#then we get a list of true and false booleans based on whether the country of origin is in the lsit
#then we invert
#we pass this list of true and false to the original dataframe to filter and get the rows that do not have the list of areas in the column "country of origin"

In [16]:
migrant_df = migrant_df.sort_values(["Year", "Country of Origin"])
migrant_df.head()

        Year Country of Origin Destination  numb_migrants
293041  1990       Afghanistan    Pakistan           8107
381871  1990       Afghanistan  Tajikistan          40537
421561  1990       Afghanistan  Uzbekistan           2027
68198   1990           Albania      Canada           1151
157028  1990           Albania      Greece          40087

In [17]:
migrant_df = migrant_df.reset_index(drop = True)
migrant_df.head()

   Year Country of Origin Destination  numb_migrants
0  1990       Afghanistan    Pakistan           8107
1  1990       Afghanistan  Tajikistan          40537
2  1990       Afghanistan  Uzbekistan           2027
3  1990           Albania      Canada           1151
4  1990           Albania      Greece          40087

In [18]:
migrant_df = migrant_df.rename(columns={"Country of Origin" : "Origin"})
migrant_df.head()

   Year       Origin Destination  numb_migrants
0  1990  Afghanistan    Pakistan           8107
1  1990  Afghanistan  Tajikistan          40537
2  1990  Afghanistan  Uzbekistan           2027
3  1990      Albania      Canada           1151
4  1990      Albania      Greece          40087

In [19]:
migrant_inflow = pd.DataFrame(migrant_df.groupby(["Year", "Origin"])["numb_migrants"].sum())

In [20]:
migrant_inflow = migrant_inflow.rename(columns={"numb_migrants":"Inflow"})
new_migrant_inflow = migrant_inflow.reset_index()
new_migrant_inflow
list(new_migrant_inflow.columns)
#df.reset_index(level=['tick', 'obs'])

['Year', 'Origin', 'Inflow']

In [21]:
countries_df_copy = countries_df.copy()
countries_df_copy = countries_df_copy.rename(columns={"Country": "Country"}).reset_index(drop=True)
countries_df_copy.head()

                Country   latitude  longitude
0               Andorra  42.546245   1.601554
1  United Arab Emirates  23.424076  53.847818
2           Afghanistan  33.939110  67.709953
3   Antigua and Barbuda  17.060816 -61.796428
4              Anguilla  18.220554 -63.068615

In [22]:
#migrant_outflow_none = migrant_outflow[migrant_outflow['Origin'].isnull()]
#migrant_outflow_none

In [23]:
migrant_inflow_m = pd.merge(new_migrant_inflow, countries_df_copy, left_on="Origin", right_on="Country", how="inner")

In [24]:
migrant_inflow_m.head()

   Year       Origin  Inflow      Country  latitude  longitude
0  1990  Afghanistan   50671  Afghanistan  33.93911  67.709953
1  1995  Afghanistan   55794  Afghanistan  33.93911  67.709953
2  2000  Afghanistan   60918  Afghanistan  33.93911  67.709953
3  2005  Afghanistan   67045  Afghanistan  33.93911  67.709953
4  2010  Afghanistan   73174  Afghanistan  33.93911  67.709953

In [25]:
migrant_outflow = pd.DataFrame(migrant_df.groupby(["Year", "Destination"])["numb_migrants"].sum())

In [26]:
migrant_outflow = migrant_outflow.rename(columns={"numb_migrants":"Outflow"})

In [27]:
new_migrant_outflow = migrant_outflow.reset_index()

In [28]:
list(new_migrant_outflow.columns)

['Year', 'Destination', 'Outflow']

In [29]:
migrant_outflow_m = pd.merge(new_migrant_outflow, countries_df_copy, left_on="Destination", right_on="Country", how="inner")

In [30]:
list(migrant_outflow_m.columns)

['Year', 'Destination', 'Outflow', 'Country', 'latitude', 'longitude']

In [31]:
migrant_outflow_m.drop(columns=["Country"]).head()

   Year  Destination  Outflow  latitude  longitude
0  1990  Afghanistan  3581557  33.93911  67.709953
1  1995  Afghanistan  1580390  33.93911  67.709953
2  2000  Afghanistan  2441534  33.93911  67.709953
3  2005  Afghanistan  1646074  33.93911  67.709953
4  2010  Afghanistan  2610188  33.93911  67.709953

In [32]:
migrant_out_in = pd.merge(migrant_inflow_m, migrant_outflow_m, 
                          left_on=["Origin", "Year"], right_on=["Destination", "Year"], how="inner")

In [33]:
migrant_out_in.head()

,Year,Origin,Inflow,Country_x,latitude_x,longitude_x,Destination,Outflow,Country_y,latitude_y,longitude_y
0,1990,Afghanistan,50671,Afghanistan,33.93911,67.709953,Afghanistan,3581557,Afghanistan,33.93911,67.709953
1,1995,Afghanistan,55794,Afghanistan,33.93911,67.709953,Afghanistan,1580390,Afghanistan,33.93911,67.709953
2,2000,Afghanistan,60918,Afghanistan,33.93911,67.709953,Afghanistan,2441534,Afghanistan,33.93911,67.709953
3,2005,Afghanistan,67045,Afghanistan,33.93911,67.709953,Afghanistan,1646074,Afghanistan,33.93911,67.709953
4,2010,Afghanistan,73174,Afghanistan,33.93911,67.709953,Afghanistan,2610188,Afghanistan,33.93911,67.709953

In [34]:
migrant_out_in_1 = migrant_out_in[['Year','Country_x', 'Inflow', 'Outflow', 'latitude_x', 'longitude_x']]

In [35]:
new_migrant_out_in = migrant_out_in_1.rename(columns={"latitude_x": "latitude", 
                                                     "longitude_x": "longitude", 
                                                     "Country_x": "country", 
                                                     "Year": "year", 
                                                     "Outflow": "outflow", 
                                                     "Inflow": "inflow"})

In [36]:
new_migrant_out_in['net_migrants'] = new_migrant_out_in["inflow"] - new_migrant_out_in["outflow"]

In [37]:
new_migrant_out_in = new_migrant_out_in.sort_values("year", ascending=True).set_index("year")

In [38]:
migrant_org_df = migrant_df.rename(columns={"Year": "year", 
                                            "Origin": "origin", 
                                            "Destination": "destination"})

In [39]:
migrant_org_lat_lng = pd.merge(migrant_org_df, countries_df_copy, left_on="origin", right_on="Country", how="inner")

In [40]:
migrant_org_lat_lng = migrant_org_lat_lng.rename(columns={"latitude": "orig_lat", 
                                                           "longitude": "orig_lon"})

In [41]:
migrant_org_lat_lng = migrant_org_lat_lng.drop("Country", axis=1)

In [42]:
migrant_org_lat_lng.head()

   year       origin destination  numb_migrants  orig_lat   orig_lon
0  1990  Afghanistan    Pakistan           8107  33.93911  67.709953
1  1990  Afghanistan  Tajikistan          40537  33.93911  67.709953
2  1990  Afghanistan  Uzbekistan           2027  33.93911  67.709953
3  1995  Afghanistan    Pakistan          17225  33.93911  67.709953
4  1995  Afghanistan  Tajikistan          36733  33.93911  67.709953

In [43]:
migrant_lat_lng = pd.merge(migrant_org_lat_lng, countries_df_copy, left_on="destination", right_on="Country", how="inner")

In [44]:
migrant_lat_lng = migrant_lat_lng.rename(columns={"latitude": "dest_lat", 
                                                 "longitude": "dest_lon"})

In [45]:
migrant_lat_lng = migrant_lat_lng.drop("Country", axis=1)

In [46]:
migrant_lat_lng = migrant_lat_lng[["year", "destination", "origin", "numb_migrants", "dest_lat", "dest_lon", "orig_lat", "orig_lon"]]
#df = df[['mean', '0', '1', '2', '3']]

In [47]:
migrant_lat_lng = migrant_lat_lng.sort_values("year", ascending=True).set_index("year")

In [48]:
migrant_lat_lng.to_csv("Migrant_Lat&Lng_2.csv")

In [49]:
new_migrant_out_in.to_csv("Migrant_Inflow_Outflow_2.csv")